/* forum-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/forum-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  scroll-behavior: smooth;
}

html {  
  overflow-x: hidden;    
  box-sizing: border-box;
  font-size: 62.5%; /* =10px =1rem */
  background: rgb(146, 142, 142);
}

body {  
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Forum', 'Inter', sans-serif;
}



.body_wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
    width: 144rem;
    height: 9rem;
    background: #0C0C0E;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    font-size: 3rem;
    margin-left: 20px;
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.nav_container {
    
    display: flex;
    width: 683px;
    justify-content: space-between;
}

.header_navigation {
  margin-right: 4rem;
}

.navigation {
  width: 600px;
  height: 50px;
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  justify-content: space-between; 
  list-style: none;
  padding-left: 9px;

  color: #FFF;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  word-spacing: normal;
  line-height: 50px; /* 250% */ 
}

li {
  cursor: pointer;
}

.link a {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  color: #BB945F;
  transition: 0.3s;
  text-decoration: underline;
}

.header_button {  
  display: flex;
  align-items: center;
  margin-right: 2rem;  
}

.icon_profile { 
  display: flex; 
  cursor: pointer;  
}
  
.welcom {
  position: relative;
  width: 1440px;
  height: 600px;

}

.text_welcome {
  position: absolute;
  top: 255px;
  left: 120px;
  color: #ffff;
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  
}


  