/* forum-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/forum-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  scroll-behavior: smooth;
}

html {  
  overflow-x: hidden;    
  box-sizing: border-box;
  font-size: 62.5%; /* =10px =1rem */
  background: rgb(146, 142, 142);
}

body {  
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Forum', 'Inter', sans-serif;
}



.body_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FFF
}

.header {
    width: 144rem;
    height: 9rem;
    background: #0C0C0E;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    font-size: 3rem;
    margin-left: 20px;
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.nav_container {
    
    display: flex;
    width: 683px;
    justify-content: space-between;
}

.header_navigation {
  margin-right: 4rem;
}

.navigation {
  width: 600px;
  height: 50px;
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  justify-content: space-between; 
  list-style: none;
  padding-left: 9px;

  color: #FFF;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  word-spacing: normal;
  line-height: 50px; /* 250% */ 
}

li {
  cursor: pointer;
}

.link a {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  color: #BB945F;
  transition: 0.3s;
  text-decoration: underline;
}

.header_button {  
  display: flex;
  align-items: center;
  margin-right: 2rem;  
}

.icon_profile { 
  display: flex;

  cursor: pointer;  
}
  
.welcom {
  position: relative;

  width: 1440px;
  height: 600px;
}

.text_welcome {
  position: absolute;
  top: 255px;
  
  text-align: center;
  margin-left: 115px;

  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  color: #ffff;
  text-transform: uppercase;  
}

.about__container {
  max-width: 1440px;
  height: 837px;
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;  
}

.section__title {
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 106px;*/
  height: 40px;
  margin: 0 auto;
  margin-bottom: 2rem;  
  
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
}

.line { 
  display: flex;
  flex: shrink 0px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 4rem;

  background: #0C0C0E;
}

.brooklyn_about {
  max-width: 1440px;  
  height: 40px;  
  margin-bottom: 2rem;

  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: #000;
}

.about__container_img {
  display: flex;
  justify-content: space-between;  
  margin-bottom: 4rem;  
}

.pagination__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 68px;
  margin: 0 auto;  
}

.pagination1 {
  width: 16px;
  height: 16px;
  
  background-color: #BB945F;
  border-radius: 50%;
}

.pagination2 {
  width: 16px;
  height: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
}

.pagination3 {
  width: 16px;
  height: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
}

.favorites__container {
  width: 1440px;
  height: 1439px;
  margin: 0 auto;  
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px; 
}

.pick__favorites {
  width: 234px;
  height: 24px;
  display: flex;
  margin-bottom: 4rem;

  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.favorites__radio_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70rem;
  height: 24px;
  margin-bottom: 4rem;
}

.radio__label {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.book__container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  
  width: 1400px;
  height: 1150px;  
}

.book__contents {
  position: relative;

  width: 550px;
  height: 555px;
  margin-right: 260px;
  
  margin-bottom: 4rem;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  border: 1px solid #0C0C0E;  
}

.book-two {
  margin-right: 0px;
}

.staff { 
  height: 40px;
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.line2 {
  width: 60px;
  height: 1px;
  margin-bottom: 2rem; 
 
  background: #BB945F;
}

.book__title {
  width: 168px;
  height: 80px;
  margin-bottom: 2rem;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.book__text {
  width: 355px;
  margin-bottom: 20px;

  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book__img {
  position: absolute;
  top: 255px;
  left: 390px;
}

.book-title-two {
  width: 173px;
  height: 80px;
}

.book-title-three {
  width: 355px;
  height: 80px;
}

.book__author {
  margin-bottom: 15px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

/*кнопка*/

.buy__title {  
  top: 519px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 21px;
  height: 12px;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;  
}

.book__title book-title-three {
  width: 355px;
  height: 80px;

  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.book__author {
  margin-bottom: 20px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book__text {
  width: 355px;
  height: 320px;
  margin-bottom: 15px;

  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.button__three {
  width: 75px;
  height: 30px;

  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;

  cursor: pointer;
}

.book__title book-title-two{
  width: 173px;
  height: 80;
}

.book__author-two {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.book__text {   
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.button_favorites {
  width: 75px;
  height: 30px;

  border-radius: 2px;
  border: 1px solid #0C0C0E;
}

.buy__title {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.book__title {
  width: 156px;
  height: 80px;

  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button__four {
  width: 75px;
  height: 30px;

  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.coffee__shop_container {
width: 1440px;
height: 841px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 40px;
padding-left: 20px;
}

.coffee__shop_text {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: lowercase;
}

.menu__wrapper-text {
  margin-bottom: 40px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
} 

.menu__content {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: lowercase;
}


.menu__y {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*coffee__shop_container*/

.menu__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  height: 520px;  
}

.coffe-and-tea-menu {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 438px;
  height: 520px;  
}

.coffe__title {
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;  

  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize; 
}

.name__item {
  width: 200px;
}

.menuline-2 {
  width: 100px;
  height: 1px;
  background: #BB945F;;
}


.desserts__menu {
  width: 482px;
  height: 520px;  
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}  

.desserts__title {
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu__item-des {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;  
  width: 462px;

  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.name__item-des {
  width: 232px;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;

  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;  
}

.price__item {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts__container {
  width: 1440px;
  height: 575px;  
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  /*margin-bottom: 20px;*/
}

.layout-2-column { 
  width: 1400px;
  height: 414px;
  display: flex;
  justify-content: space-between;
}

.text__container { 
  width: 503px;
  height: 380px;
}

.contacts__text {
  color: #000;
  
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.phone-info {
  margin-bottom: 60px;
  color: #000;
  
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.senior-staff {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.please__call {
  margin-bottom: 20px;
}

.phone__call {
  width: 503px;
  height: 40px;
  color: #000;

  color: #000;
  font-family: Inter;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;  
  margin-bottom: 20px;
}

.text__call {  
  margin-bottom: 40px;
  background-color: aquamarine;  
}

.staff__title {
  width: 138px;
  height: 40px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 20px;
} 

.staff__text {
  width: 351px;
  height: 40px;
  color: #000;
  text-align: start;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize; 
}

/*Digital Library Cards*/

.digital__container {
 width: 1440px;
 height: 614px;
 padding-top: 20px;
 padding-right: 20px;
 padding-bottom: 41px;
 padding-left: 20px;

 
}

.card__container {
  display: flex;
  justify-content: space-between; 
}

.find__card { 
  width: 600px;
  height: 453px;    
}

.title__title {
  margin-left: 13.8rem;
  margin-bottom: 30px; 
 
  width: 390px;
  height: 36px;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.card__body {
  width: 600px;
  height: 386px;
  border: 3px solid #BB945F;
  background: #FFF; 
  margin-bottom: 20px;  
}

.white__bg {
  width: 600px;
  height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px; 
}

.gold__bg {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 272px;
  background-color: #BB945F;
  margin: 0 auto; 
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px; 
    
}

.gold__library {
  width: 294px;
  height: 50px; 
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  }

.name__input {
    width: 520px;
    height: 66px;
    border-radius: 10px;
    background: #FFF;
    margin-bottom: 25px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;

    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
  }

.number__input {
    width: 520px;
    height: 66px;
    border-radius: 10px;
    background: #FFF;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;  

    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
  }

.button__card {
    margin: 0 auto;
  }

.button__check {
  width: 242px;
  height: 44px;

  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
}



/*get-card*/
.get__card { 
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end; 
  width: 456px;
  height: 253px; 
  
  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.get__card-title {
  margin-bottom: 10px;
  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.text__card {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
}


.button__signin {
  width: 75px;
  height: 30px;
  margin-left: 10px;


  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
}
 
 




  

 



 



